# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# Node / Frontend (agar ho)
# =========================
node_modules/
dist/
build/

# =========================
# GitHub / CI
# =========================
.github/*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Database (local only)
# =========================
*.sqlite3
*.db
git